input[type=text]{
    width: 50%;
    padding: 12px 20px 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    border-radius: 4px;
    background-color: white;
    background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjU0NmJhdGNoMy1teW50LTM0LWJhZGdld2F0ZXJjb2xvcl8xLmpwZw.jpg');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
input[type=text]:hover{
    border: 2px solid gray;
}
input[type=text]:focus{
    border: 2px solid green;
}
form{
    width: 60%;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    border-radius: 4px;
    background-color: gainsboro;
}
td{
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-radius: 4px;
}

/*Для круглых радио-переключателей*/
input[type="radio"] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    appearance: none;
    outline: none;
    border: 2px solid purple;
    background-color: lightyellow;
    margin-right: 10px;
    cursor: pointer;
}
/*Подцветка при выборе кружка*/
input[type="radio"]:checked {
    background-color: rebeccapurple;
    box-shadow: 0 0 5px rebeccapurple;
}

/*Для квадратов с выбором ответа*/
input[type="checkbox"] {
    width: 15px; /
    height: 20px;
    cursor: pointer;
    margin-right: 5px;
}
/*Подцветка при выборе ответа*/
input[type="checkbox"]:checked {
    background-color: purple;
    box-shadow: 0 0 5px purple;
}

/*Для телефона*/
input[type="email"], input[type="tel"] {
    width: 215px;
    height: 30px;
    padding: 5px;
    border: 2px solid red;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

/* Изменение стиля границы при фокусе */
input[type="email"]:focus, input[type="tel"]:focus {
    border-color: purple;
}

/*Для полоски*/
input[type="range"] {
    width: 200px;
    height: 10px;
    background-color: plum;
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
}
/*ползунок*/
input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    background-color: rebeccapurple;
    -webkit-appearance: none;
}

/*дата рождения*/
input[type="date"] {
    width: 120px;
    height: 30px;
    padding: 5px;
    border: 2px solid red;
    border-radius: 5px;
    outline: none;
    font-size: 12px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

/* Изменение стиля границы при фокусе */
input[type="date"]:focus {
    border-color: rebeccapurple;
}

/*вопросы с выбором*/
select{
    width: 110px;
    height: 30px;
    padding: 5px;
    border: 2px solid red;
    border-radius: 5px;
    outline: none;
    font-size: 12px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}
select:focus{
    border-color: rebeccapurple;
}

/*вопрос с любимым цветов*/
input[type="color"] {
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid red;
    outline: none;
    cursor: pointer;
}
